.node-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}

/* Wrapper for the entire component */
.component-wrapper {
    position: relative;
    transform-origin: top left;
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    height: 100%; /* Altura completa */
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    align-items: center;  /* Centra los elementos hijos horizontalmente */
    justify-content: flex-start;  /* Alinea los elementos en la parte superior */
    overflow-y: auto;
    flex-wrap: wrap;
}

/* Service UUID Title */
.service-uuid-title {
    display: flex;
    align-items: center;
    position: fixed;
    width: 600px;
    justify-content: center;  /* Centra el contenido dentro de la barra */
    background-color: #4eb8ff;
    padding: 10px 20px;  /* Añade un poco de espacio extra horizontal y vertical */
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 37%;
    margin-right: 37%;
}

.service-text-container {
    text-align: center;  /* Asegura que ambos textos dentro del contenedor se alineen al centro */
    display: inline-block;  /* Este contenedor se ajustará al contenido */
}

/* Container for all nodes */
.new-container-good {
    display: flex;
    position: relative;
    gap: 20px;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* Each node container (column) */
.node-item-good {
    background-color: #fff7d1;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    flex-basis: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}


/* Title for each node (UUID) */
.node-item-good > h2 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center; /* Center the text inside the node */
}

.inventories-container-good {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.inventory-item-good {
    border: 1px dashed #aaa;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #eef;

}

/* Ajustar el tamaño del título del inventory_id */
.inventory-item-good > h3 {
    font-size: 12px; /* Ajusta a un tamaño de fuente más legible */
    margin: 0;
    max-width: 100%; /* Mantiene el ancho máximo dentro del contenedor */
    overflow-wrap: break-word; /* Permite que las palabras se dividan */
    word-wrap: break-word; /* Compatibilidad para navegadores más antiguos */
    overflow: visible; /* Permite que el texto se muestre sin cortarse */
    line-height: 1.2; /* Ajusta el interlineado para mejorar la legibilidad */
}

/* Container for the endpoint squares */
.endpoints-container-good {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.empty-endpoint {
    height: 70px;
    width: 150px;
}

/* Wrap the square and details together */
.endpoint-wrapper {
    display: flex; /* Aligns the square and details next to each other */
    align-items: center; /* Aligns them vertically centered */
    height: 60px; 
}

.endpoint-square {
    cursor: pointer;
    background-color: #ffe4b5;
    background-size: contain; /* Ensure the image fits within the square */
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 10px; /* Adjust the font size for visibility */
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Adds transition for border */
    border: 2px solid transparent; /* Makes the border initially transparent */
    margin-right: 10px; /* Adds some space between the square and details */
}

.endpoint-square.first {
    background-image: url('images/first.png'); /* Set your image here */
}

.endpoint-square.second {
    background-image: url('images/second.png'); /* Set your image here */
}

.endpoint-details {
    justify-content: right;
    font-size: x-small;
    display: flex;
    align-items: center;
    position: relative;
}

.endpoint-square.selected {
    background-color: #0000ff; /* Blue color for selected squares */
    color: white; /* Text color for better visibility */
}

.endpoint-square.link-highlighted {
    background-color: brown; /* Brown color for endpoints with matching link_uuid */
    color: white; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.lower-highlighted {
    background-color: orangered; /* Bright yellow color for lower connection matches */
    color: black; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.client-highlighted {
    background-color: purple; /* Bright pink color for lower connection matches */
    color: black; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.service-highlighted {
    background-color: red; /* Bright red color for lower connection matches */
    color: black; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.connection-highlighted {
    background-color: lightblue; /* Color de resaltado para endpoints con mismo connection_end_point_uuid */
    color: black; /* Text color for better visibility */
    border-color: blue;
}

/* Aplica el blur al contenido de fondo */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(3px); /* Aplicar el efecto de desenfoque al fondo */
}

/* Animación de fade-in para el pop-up */
@keyframes fade-in-pop {
    from {
        opacity: 0;
        transform: scale(0.95); /* Pequeño escalado inicial */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Escalado completo */
    }
}

.modal-content {
    background-color: white;
    padding: 30px; /* Aumentamos el padding */
    border-radius: 10px; /* Un poco más redondeado */
    width: 500px; /* Aumentamos el ancho */
    max-height: 600px; /* Aumentamos la altura */
    overflow-y: auto; /* Añadimos scroll si el contenido es demasiado largo */
    position: relative;
    animation: fade-in-pop 0.3s ease-out; /* Animación de fade-in */
    z-index: 4;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Espaciado adicional entre pares clave-valor del JSON */
.modal-body {
    margin-top: 30px;
    padding: 20px; /* Más espacio para el contenido JSON */
    background-color: #f9f9f9; /* Fondo claro para resaltar */
    border-radius: 8px;
    line-height: 1.5;
    font-family: "Courier New", monospace;
    font-size: 14px;
}

.modal-body div {
    margin-bottom: 8px; /* Más espacio entre elementos clave-valor */
}

.modal-body .key {
    font-weight: 600; /* Negrita suave */
    color: #333; /* Un gris oscuro para destacar */
    margin-right: 8px; /* Espacio entre clave y valor */
}

.modal-body .value {
    color: #555; /* Color neutro para valores */
}

.line-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Evita que interfiera con los clics */
    z-index: 2;
    margin-left: -10px;
}

