/* Wrapper for the entire component */
.component-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    position: relative;
    overflow: auto; /* Ensure content doesn't overflow the container */
    padding: 20px;
}

/* Info text container */
.info-text-wrapper {
    position: relative;
    height: 235px;
    width: 900px; /* Increase the maximum width for a larger text block */
    text-align: center; /* Center the text inside the info-text */
    align-items: flex-start;
    justify-content: center;
    display: flex;
    margin-top: 140px;
}

/* Info text block */
.info-text {
    position: relative;
    height: 100%;
    display: inline-block; /* Inline-block to keep text centered */
    width: 100%;
    padding: 15px; /* Increase padding for better readability */
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px; /* Slightly larger font size for better readability */
    line-height: 1.4;
    white-space: pre-wrap;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    overflow: auto;
}

/* Adjust appearance when showing detailed information */
.show-info {
    opacity: 1;
    background-color: #fff;
}

/* Container for all nodes */
.new-container-good {
    display: flex;
    gap: 20px;
    height: auto;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
}

/* Each node container (column) */
.node-item-good {
    background-color: #fff7d1;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    flex-basis: 100px;
    max-width: 200px; /* Adjust width as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}


/* Title for each node (UUID) */
.node-item-good > h2 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center; /* Center the text inside the node */
}

.inventories-container-good {
    margin-top: 10px;
}

.inventory-item-good {
    border: 1px dashed #aaa;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #eef;
}

/* Ajustar el tamaño del título del inventory_id */
.inventory-item-good > h3 {
    font-size: 12px; /* Ajusta a un tamaño de fuente más legible */
    margin: 0;
    max-width: 100%; /* Mantiene el ancho máximo dentro del contenedor */
    overflow-wrap: break-word; /* Permite que las palabras se dividan */
    word-wrap: break-word; /* Compatibilidad para navegadores más antiguos */
    overflow: visible; /* Permite que el texto se muestre sin cortarse */
    line-height: 1.2; /* Ajusta el interlineado para mejorar la legibilidad */
}

/* Container for the endpoint squares */
.endpoints-container-good {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

/* Wrap the square and details together */
.endpoint-wrapper {
    display: flex; /* Aligns the square and details next to each other */
    align-items: center; /* Aligns them vertically centered */
    height: 60px; 
}

.endpoint-square {
    cursor: pointer;
    background-color: #ffe4b5;
    background-size: contain; /* Ensure the image fits within the square */
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 10px; /* Adjust the font size for visibility */
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Adds transition for border */
    border: 2px solid transparent; /* Makes the border initially transparent */
    margin-right: 10px; /* Adds some space between the square and details */
}

.endpoint-square.first {
    background-image: url('images/first.png'); /* Set your image here */
}

.endpoint-square.second {
    background-image: url('images/second.png'); /* Set your image here */
}

.endpoint-details {
    justify-content: right;
    font-size: x-small;
    display: flex;
    align-items: center;
    position: relative;
}

.endpoint-square.selected {
    background-color: #0000ff; /* Blue color for selected squares */
    color: white; /* Text color for better visibility */
}

.endpoint-square.highlighted {
    background-color: brown; /* Brown color for endpoints with matching link_uuid */
    color: white; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.lower-highlighted {
    background-color: yellow; /* Bright yellow color for lower connection matches */
    color: black; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.client-highlighted {
    background-color: pink; /* Bright pink color for lower connection matches */
    color: black; /* Text color for better visibility */
    border-color: green;
}

.endpoint-square.service-highlighted {
    background-color: red; /* Bright red color for lower connection matches */
    color: black; /* Text color for better visibility */
    border-color: green;
}

.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.color-box.yellow {
    background-color: yellow;
}

.color-box.pink {
    background-color: pink;
}

.color-box.brown {
    background-color: brown;
}

.color-box.blue {
    background-color: #0000ff;
}

.color-box.red {
    background-color: red;
}

.service-uuid-title {
    display: flex;
    position: relative;
    align-items: center;
    top: 2%; /* Center items vertically */
    background-color: #4eb8ff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Aplica el blur al contenido de fondo */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(3px); /* Aplicar el efecto de desenfoque al fondo */
}

/* Animación de fade-in para el pop-up */
@keyframes fade-in-pop {
    from {
        opacity: 0;
        transform: scale(0.95); /* Pequeño escalado inicial */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Escalado completo */
    }
}

.modal-content {
    background-color: white;
    padding: 30px; /* Aumentamos el padding */
    border-radius: 10px; /* Un poco más redondeado */
    width: 500px; /* Aumentamos el ancho */
    max-height: 600px; /* Aumentamos la altura */
    overflow-y: auto; /* Añadimos scroll si el contenido es demasiado largo */
    position: relative;
    animation: fade-in-pop 0.3s ease-out; /* Animación de fade-in */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Más espacio para el contenido JSON */
.modal-body {
    margin-top: 30px;
}

/* Espaciado adicional entre pares clave-valor del JSON */
.modal-body p {
    margin-bottom: 10px; /* Separación entre elementos clave-valor */
    word-wrap: break-word; /* Permite que el JSON no salga del contenedor */
    line-height: 1.5; /* Hace el texto más fácil de leer */
    font-family: "Courier New", monospace; /* Fuente tipo monoespaciada para el JSON */
    font-size: 14px; /* Aumentar un poco el tamaño del texto */
}

/* Separación entre claves y valores */
.modal-body p span.key {
    font-weight: bold;
    margin-right: 5px; /* Espacio entre clave y valor */
}

